# Operating System files
.DS_Store
Thumbs.db

# IDE/Editor files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

temp_upload/
# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg-info/
dist/
build/

# Java
*.class
*.jar
*.war
*.ear
*.iml
*.ipr
*.iws
target/


# Ruby
*.gem
*.rbc
.bundle/
vendor/bundle/

# Logs
*.log

# Environment variables
.env



# Compiled source
*.com
*.class
*.dll
*.exe
*.o
*.so

# Package files
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Backup files
*.bak
*.swp
*.tmp
*.temp

# Other
*.lock
*.pid
*.seed
*.pid.lock